@import "tailwindcss";

@custom-variant taos (&.taos-init:where(:not(.taos-animate)));

html.js :where([class*="taos:"]:not(.taos-init)) {
  visibility: hidden;
}

@source inline('!duration-[-1ms] !delay-[0ms]');